.box {
    width: 40px;
    height: 40px;
}

.painted {
    background-color: blueviolet;
}

h1 {
    text-align: center;
}

#alertText {
    text-align: center;
    color: red;
    font-size: 36px;
}

#currentDimension {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

#clearButton {
    margin: 0 auto 30px auto;
    display: block;
    width: 100px;
    height: 100px;
    font-weight: 800;
}

#container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
}